/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
body {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

/* header */
header {
    background-color: #2C5EE9;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 250px;
}


.col-logo {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* debug */
    /* height: 40px;  */
    /* background-color: #DAA51F; */
    /* border: 1px dashed black; */

}

.col-link {
    width: 70%;
    text-align: center;
    /* debug */
    /* height: 40px;  */
    /* border: 1px dashed black; */
    /* background-color: #DAA51F; */
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;

}

li>a {
    text-decoration: none;
    color: white;

}

.col-login {
    background-color: #FFFFFF;
    text-align: right;
    border-radius: 10px;
    /* debug */
    /* width: 15%; */
    /* height: 40px;  */
    /* border: 1px dashed black; */
}

.col-login a {
    text-decoration: none;
    color: black;
    padding: 20px;
}

/* main */
/* first main */
.first-conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
    /* debug */
    /* height: 500px; */
    /* background-color: #11078B; */

}

.pink-conteiner {
    width: 900px;
    text-align: center;
    color: white;
    padding: 90px;
    /* debug */
    height: 350px;
    /* border: 2px dashed black; */
    /* background-color: #EE82EE; */

}

.pink-conteiner p {
    margin-top: 10px;
    line-height: 35px;
    margin-bottom: 10px;
    text-align: center
}

.link-mac {
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 9px;
    margin-right: 20px;
}

.link-browser {
    background-color: #23272A;
    color: white;
    border-radius: 20px;
    padding: 9px;
}


/* second main */
.second-conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px;
    /* debug */
    height: 500px;
}

.big-conteiner {
    width: 70%;
    /* debug */
    height: 350px;
    /* border: 2px dashed black; */
    /* background-color: #3A90FF; */

}

.big-conteiner img {
    text-align: center;
    height: 330px;
    margin-left: 220px;
    ;
}

.small-conteiner {
    width: 30%;
    text-align: justify;
    margin-right: 60px;
    /* debug */
    height: 350px;
    /* border: 2px dashed black; */
    /* background-color: #FCFB03; */
}

.small-conteiner h2 {
    margin-top: 30px;
}

.small-conteiner p {
    margin-top: 30px;
    font-size: 0.8rem;
    line-height: 20px;
}

/* separatore */
/* .separatore{ */
/* background-image: url(../img/wave.svg); */
/* background-color: #D3D3D3; */
/* debug */
/*      */
/* } */


/* third main */
.third-conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px;
    /* debug */
    height: 500px;
    background-color: #D3D3D3;

}

/* fourth main */

/* fifth main */
.fifth-conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    /* debug */
    /* height: 500px; */
    background-color: #D3D3D3;

}

.one-big-conteiner {
    width: 800px;
    text-align: center;
    /* debug */
    height: 800px;
    /* border: 2px dashed black; */
    /* background-color: #278B21; */
}

.one-big-conteiner h2 {
    margin-bottom: 20px;
}

.one-big-conteiner p {
    margin-top: 30px;
    font-size: 0.8rem;
    line-height: 20px;
}

.one-big-conteiner img {
    text-align: center;
}

.one-big-conteiner span {
    background-image: url(../img/stars.svg);
    background-size: 100%;
    padding: 11px 50px 0px;
}

#link-mac-purple {
    display: block;
    background-color: #7289DB;
    color: white;
    margin: 70px;
    border-radius: 30px;
    padding: 10px;
    width: 140px;
    margin-left: 320px;
    margin: 0 auto;
    margin-top: 50px;
}

/* footer */

.foot-conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px;
    /* debug */
    height: 700px;
    background-color: #23272A;

}

.col-conteiner-big {
    width: 40%;
    /* debug */
    height: 500px;
    border: 2px dashed black;
    background-color: #F08080;

}

.col-conteiner-small {
    width: 20%;
    /* debug */
    height: 500px;
    border: 2px dashed white;
    background-color: #3AB2AA;

}

hr {
    border: 2px solid white;
}

.bottom-conteiner {
    display: flex;
    align-items: end;
    justify-content: center;
    /* debug */
    height: 150px;
    background-color: #23272A;


}

.conteiner {
    width: 50%;
    /* padding: 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* debug */
    height: 70px;
    background-color: #7FFFD4;

}

.logo {
    /* debug */
    border: 1px dashed black;
    background-color: #F9B6C1;

}

.botton {
    /* debug */
    border: 1px dashed black;
    background-color: #F9B6C1;


}